/* styles */
body{
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav bar styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}
.nav-link-wrapper a:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: red;
} 

.active-nav-link  {
    border-bottom: 1px solid black;
}
.active-nav-link  {
    color: black !important;
}

/* portfolio */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    margin: 50px;
    
}

.portfolio-items-wrapper {
    position: relative;
    
    
    

}

.portfolio-img-background {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper {
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    bottom: 20 px;
}

/* need to be more specefic with selector */

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}




.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightgreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(12%);
}

/*about page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 50%;
    padding-left: 30%;
    
    

}

.profile-content-wrapper h1 {
    color:red;
 
    
}
.profile-content-wrapper {
   
    padding-right: 10%;
    
}


/* Footer */

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(133, 62, 4);
    color: white;
  }


/* customer */

.customer-wrapper {
    text-align: center;
}

.Customer-Reviews-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    margin: 50px;

}

.Customer-Reviews-wrapper {
    text-align: center;
    font-weight: 600;
    
}

.pro-wrapper {
    position: top;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

/* form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom:10px; 
    resize: vertical;
  }
  
  /*  button  background  */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }
  
  /*mouse over the submit button */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /*  background color  */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
.container-form {
    display: grid;
    grid-template-columns: 1fr 1fr r;
    padding-left: 20%;
    padding-right: 20%;
    margin: 50px;
}


.form-text-wrapper {
    position: top;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    height: 100%;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}